<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Demo0425.Properties.Settings.masterConnectionString"
            connectionString="Data Source=F的Y9000P;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=sa_passwd"
            providerName="System.Data.SqlClient" />
        <add name="Demo0425.Properties.Settings.masterConnectionString1"
            connectionString="Data Source=JSJ-14\FSXMSSQLSERVER;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Demo0425.Properties.Settings.masterConnectionString2"
            connectionString="Data Source=JSJ-14;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>